:root {
  --color-orang: #ff9000;
  --text-color: #979797;
  --dark: #000;
  --light: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.0001em;
}

.container {
  padding: 15px 15px;
}
/*sec-1*/

.sec-1 {
  background-image: url("../images/Banner-bg.jpg"), url("../images/bg2.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 90%, 100%;
}

/*nav*/
nav {
  background-color: rgba(0, 0, 0, 0.5);
}
nav div {
  color: var(--light);
  display: flex;
  justify-content: space-between;
}

nav div h1 span:first-child {
  color: var(--color-orang);
}

/*test*/
nav div label {
  padding: 10px;
  border: 1px solid var(--color-orang);
}

nav div label:active {
  background-color: var(--color-orang);
}

dialog div {
  background-color: black;
  padding: 15px 15px;
  display: block;
}

dialog div a {
  text-decoration: none;
  color: var(--light);
}

#check {
  display: none;
}
dialog {
  display: none;
  width: 140px;
  border: 1px solid var(--color-orang);
  position: fixed;
  left: 60%;
  top: 10%;
}
input:checked + dialog {
  display: block;
}
/*test*/
.list2 {
  display: none;
}
.list2 a {
  padding: 15px;
  text-decoration: none;
  color: var(--light);
}

.list2 a:hover {
  background-color: #314c6b;
  border-bottom: 2px solid var(--color-orang);
}
/*finish nav*/

/*header*/
.head {
  color: var(--light);
}

article.head h3:nth-child(2) {
  color: var(--color-orang);
}

.head aside {
  margin: auto 5px;
}

.head img {
  width: 100%;
  height: 100%;
  margin: auto auto;
}

.button {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--light);

  padding: 5px;
  border: var(--light) solid 1px;
}
.imghead {
  position: relative;
}
#imgfoot {
  width: 100%;
  height: 24%;
  padding: 10px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
}

i {
  border: 1px solid var(--light);
  border-radius: 50%;
  padding: 5px;
}
.Spanned {
  color: var(--color-orang);
  position: absolute;
  top: 40%;
  right: 4%;
}
/*finish header*/

/*sec-2*/
.sec-2 {
  background-color: var(--light);
}

.sec-2 .center {
  text-align: center;
}
.sec-2 p {
  color: var(--text-color);
}
hr {
  width: 200px;
  margin: 15px auto;
  height: 2px;
  background-color: var(--color-orang);
  border-color: var(--color-orang);
  margin-bottom: 50px;
  margin-top: 30px;
}
#btn-about {
  width: 300px;

  border: 1px solid;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.sec-2 a {
  text-decoration: none;
  color: var(--text-color);
  width: 100px;
  padding: 10px 0;
  text-align: center;
  border-left: thin solid;
}
.sec-2 a:hover {
  background-color: var(--color-orang);
  color: var(--dark);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.about-flex {
  margin-top: 20px;
}
.sec-2 h5 {
  color: var(--color-orang);
}
.sec-2 img {
  border: thin #979797 solid;
  margin: auto 0px;
  height: 100%;
  padding: 5px;
  width: 340px;
}
.about-flex p {
  margin-top: 15px;
}
/*finish sec-2*/

/*sec-3*/
.sec-3 {
  background: url("../images/Services-bg.jpg") center center/cover no-repeat;
}
.sec-3 article {
  padding-top: 20px;
  text-align: center;
  color: var(--light);
}

.sec-3 .parent1 {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: 2.5px;
  margin-right: 2.5px;
}
.position1sec3 {
  position: absolute;
  padding-top: 60px;
  text-align: center;
  color: #009ed8;
  width: 245px;
  height: 387px;
}

.position1sec3:hover {
  display: none;
}

.position2sec3 {
  position: absolute;
  padding-top: 60px;
  text-align: center;
  color: var(--light);
  width: 245px;
  height: 387px;
}
/*finish sec-3*/

/*sec-4*/
.sec-4 {
  background-color: #ececec;
}
.sec-4 article {
  padding-top: 20px;
  text-align: center;
  color: var(--dark);
  padding-bottom: 40px;
}

.flexsec4 {
  background-color: var(--light);
  display: flex;
  justify-content: space-around;
}

.flex2 {
  display: flex;
}
.flexsec4 h5 {
  background-color: var(--color-orang);
  width: 50px;

  padding: 32.5px 0;
  margin: auto 0px;
}
.flexsec4 h4 {
  font-size: x-large;
  font-weight: 400;
  background-color: #2d2d2d;
  padding: 25.5px 30px;
  margin: auto 0px;
  color: var(--color-orang);
}

.flexsec4 small {
  width: 150px;
  padding: 20px 0px;
  text-align: center;
  margin: auto 0px;
}

.sec-4 P {
  color: var(--text-color);
}

.flexsec4 a {
  background-color: #2d2d2d;
  text-decoration: none;
  width: 150px;
  padding: 30.5px 10px;
  margin: auto 0px;
  color: var(--light);
}
.flexsec4 img {
  height: 50px;
  margin: auto;
}
@media (max-width: 991.5px) {
  .flexsec4 {
    flex-wrap: wrap;
  }
}
/*finish sec-4*/

/* sec-5*/
.sec-5 {
  background: url("../images/Contact-bg.jpg") center center/cover no-repeat;
  color: var(--light);
}

.sec-5 article {
  padding-top: 30px;

  text-align: center;
}
/*finish sec-5*/

/*sec-6*/
.sec-6 {
  background-color: var(--dark);
  padding-top: 20px;
}

form {
  flex-direction: column;
  justify-content: center;
  display: flex;
}
form input{
  margin-bottom: 10px;
  width: 350PX;
  height: 35px;
  padding: 10px;
 
}
 #message{
  height: 150px ;
}
form button{
  margin-bottom: 10px;
  width: 350PX;
  height: 30px;
  background-color: var(--color-orang);
}
.sec-6 article{
  width: 360px;
  color: var(--light);
}
.sec-6 h2{
  color: var(--color-orang);
  padding-bottom:10px ;
}
.sec-6 i{
  border: none;
  margin: auto 0;
  padding-right: 10px;
}
.sec-6 .flex3{
  display: flex;
  justify-content:safe;
  
}
.flex3 img{
  padding-right:15px ;
}
/*finish sec-6*/

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
  .head img {
    width: 500px;
    height: 400px;
    margin-top: auto;
  }
  @media (max-width: 991.5px) {
    #imgfoot {
      height: 20%;
      width: 72.5%;
    }
    .flexsec3 {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media (min-width: 992px) {
  .head img {
    width: 450px;
    height: 300px;
    margin-top: auto;
  }
  .container {
    width: 940px;
  }
  .list1 {
    display: none;
  }
  .list2 {
    display: inline;
  }
  article.head aside {
    width: 30%;
  }
  nav div {
    justify-content: space-around;
  }
  .head {
    display: flex;
    justify-content: center;
    flex-basis: content;
  }
  #imgfoot {
    height: 20%;
  }

  .sec-2 img {
    margin-right: 20px;
  }
  .About-us {
    margin: auto 10rem;
  }

  .about-flex {
    display: flex;
    justify-content: space-around;
  }

  .sec-3 article {
    margin: auto 10rem;
  }

  .flexsec3 {
    display: flex;
    justify-content: space-around;
    margin: auto 10rem;
  }

  .sec-4 article {
    margin: auto 10rem;
  }
  .sec-5 article {
    margin: auto 10rem;
  }

  .flexsec6 {
    display: flex;
    justify-content: space-around;
    margin: auto 10rem;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 1400px) {
}
